.div_body {
    display: flex;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(175,43,163,1) 77%);
    flex-direction: column;
    font-size: x-large;
    font-family: cursive;
    
     
}
.cap {
    width: auto ;
    height: 70px;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 10px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(175,43,163,1) 77%);
}
.sender {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: start;    
    border-top: 1px solid black;
    width: 790px;
    
}
.sender2 {
    display: flex;
    flex-direction: row;    
}
.user_sender {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,110,148,1) 54%, rgba(0,212,255,1) 100%);
    width: 150px;
    text-align: center; 
    font-size: large;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-right: 1px solid black;
}
.mail {
    
    width: 650px;
    flex-wrap: wrap;
    font-size: larger;
    padding: 0 10px;
}
.text_mail {
    height: auto;
    width: 100%;
    border: 2px solid black;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(195,102,187,0.958420868347339) 92%);
}
.name {
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
    width: 60px;
    height: 40px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(175,43,163,1) 77%);
    line-height: 38px;
}
input[type="button"] {
    float: right;
    margin-right: 5px;
    font-weight: bold;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(175,43,163,1) 77%);
    font-size: large;
    border: none;
}